@import 'layout/header';
@import 'layout/footer';
@import 'layout/nav';
body {
  margin: 0;
  background-color: rgb(167, 194, 45);
  .wrapper{
      width: 100%;
      min-width: 1100px;
      header {
              display: flex;
        .logo {
           font-size: 110px;
           color: yellow;
           background-color: rgb(25, 102, 25);
           margin: 20px;
             }
           }
         }
    }

.example {
  display: grid;
  transition: all .5s;
  user-select: none;
  background: linear-gradient(to bottom, white, black);
  animation: 3s ease-in 1s infinite reverse both running slidein;
  animation-delay: 250ms;
}